# Environment Variables 
node_modules/
.env
*.env
.env.local
dist/
build/

# Environments (Virtual Environment)
.venv/
venv/
ENV/
env/

# Operating System Files
.DS_Store
Thumbs.db

# IDE Files (Konfigurasi editor)
.vscode/
.idea/